@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutCustomer";
}
<!-- Slider  -->
<div class="" id="slider">
    <div class="container">
        <div class="slider-wrapper">
            <div id="main-slider" class="nivoSlider">
                <img src="~/images/slides/banner-3.jpg" alt="">
                <img src="~/images/slides/banner-4.jpg" alt="">
                <img src="~/images/slides/banner-2.jpg" alt="">
                <img src="~/images/slides/banner-1.jpg" alt="">
                <img src="~/images/slides/banner-5.jpg" alt="">
                <img src="~/images/slides/banner-6.jpg" alt="">
            </div>

        </div>
    </div>
</div>

<!-- Main content  -->

<div class="main-content">
    <div class="container">
        <div class="row">
            <!-- Sidebar left -->
            <div class="col-3">
                <!-- Sidebar title -->
                <div class="single-left-sidebar">
                    <div class="left-title-area">
                        <h3 class="left-title">Sản phẩm khuyến mãi</h3>
                    </div>
                </div>

                <!-- List promotional products  -->
                <div class="list-product-sales">
                    <div class="single-product-item">

                        <div class="sidebar-product-img">
                            <a href="detailProduct.html" class="sidebar-product-link">
                                <img src="~/images/product_img/sidebar/airpods-2-sac-lightning.png" alt="">
                            </a>
                        </div>

                        <div class="sidebar-product-desc">
                            <a href="" class="sidebar-product-name">AirPods 2 sạc Lightning</a>
                            <div class="customer-comment-box">
                                <div class="rating-box">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>

                            <div class="price-box">
                                <span class="old-price">3.900.000<sup>đ</sup> </span>
                                <span class="new-price">3.590.000<sup>đ</sup> </span>
                            </div>
                        </div>

                    </div>

                    <div class="single-product-item">

                        <div class="sidebar-product-img">
                            <a href="#" class="sidebar-product-link">
                                <img src="~/images/product_img/sidebar/airpods-pro-(2nd-gen)-usb-c.png" alt="">
                            </a>
                        </div>

                        <div class="sidebar-product-desc">
                            <a href="" class="sidebar-product-name">AirPods 2 sạc Lightning</a>
                            <div class="customer-comment-box">
                                <div class="rating-box">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>

                            <div class="price-box">
                                <span class="old-price">3.900.000<sup>đ</sup> </span>
                                <span class="new-price">3.590.000<sup>đ</sup> </span>
                            </div>
                        </div>

                    </div>

                    <div class="single-product-item">

                        <div class="sidebar-product-img">
                            <a href="#" class="sidebar-product-link">
                                <img src="~/images/product_img/sidebar/airpods-pro-(2nd-gen)-usb-c.png" alt="">
                            </a>
                        </div>

                        <div class="sidebar-product-desc">
                            <a href="" class="sidebar-product-name">AirPods 2 sạc Lightning</a>
                            <div class="customer-comment-box">
                                <div class="rating-box">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>

                            <div class="price-box">
                                <span class="old-price">3.900.000<sup>đ</sup> </span>
                                <span class="new-price">3.590.000<sup>đ</sup> </span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <!--List products new -->
            <div class="col-9 new-product-container" style="overflow: hidden;">
                <!-- New product list -->
                <div class="new-product-area">
                    <div class="left-title-area">
                        <h3 class="left-title">Sản phẩm mới</h3>

                        <div class="product-carousel-nav">
                            <div class="product-prev-btn">
                                <i class="bi bi-arrow-left-square-fill product-next-icon"></i>
                            </div>

                            <div class="product-next-btn">
                                <i class="bi bi-arrow-right-square-fill product-next-icon"></i>
                            </div>
                        </div>

                    </div>

                    <div class="row no-wrap product-carousel product-max-4">
                        <!-- Product item -->

                        <div class="col-3">
                            <div class="product-item">

                                <div class="product-label">New</div>

                                <div class="product-img">
                                    <a href="" class="product-link">
                                        <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                                    </a>
                                </div>

                                <div class="product-info">
                                    <div class="rating-box">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>

                                    <a href="" class="product-name">Apple macbook air</a>
                                    <div class="product-price">
                                        18.699.000<sup>đ</sup>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-3">
                            <div class="product-item">

                                <div class="product-label">New</div>

                                <div class="product-img">
                                    <a href="" class="product-link">
                                        <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                                    </a>
                                </div>

                                <div class="product-info">
                                    <div class="rating-box">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>

                                    <a href="" class="product-name">Apple macbook air</a>
                                    <div class="product-price">
                                        18.699.000<sup>đ</sup>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-3">
                            <div class="product-item">

                                <div class="product-label">New</div>

                                <div class="product-img">
                                    <a href="" class="product-link">
                                        <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                                    </a>
                                </div>

                                <div class="product-info">
                                    <div class="rating-box">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>

                                    <a href="" class="product-name">Apple macbook air</a>
                                    <div class="product-price">
                                        18.699.000<sup>đ</sup>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-3">
                            <div class="product-item">

                                <div class="product-label">New</div>

                                <div class="product-img">
                                    <a href="" class="product-link">
                                        <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                                    </a>
                                </div>

                                <div class="product-info">
                                    <div class="rating-box">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>

                                    <a href="" class="product-name">Apple macbook air s</a>
                                    <div class="product-price">
                                        18.699.000<sup>đ</sup>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-3">
                            <div class="product-item">

                                <div class="product-label">New</div>

                                <div class="product-img">
                                    <a href="" class="product-link">
                                        <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                                    </a>
                                </div>

                                <div class="product-info">
                                    <div class="rating-box">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>

                                    <a href="" class="product-name">Apple macbook air s</a>
                                    <div class="product-price">
                                        18.699.000<sup>đ</sup>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="main-content main-content-full-col">
    <!-- Macbook Product List -->
    <div class="container" style="overflow: hidden;">
        <div class="product-list-area">
            <div class="left-title-area">
                <h3 class="left-title">Macbook</h3>

                <div class="product-carousel-nav">
                    <div class="product-prev-btn">
                        <i class="bi bi-arrow-left-square-fill product-next-icon"></i>
                    </div>

                    <div class="product-next-btn">
                        <i class="bi bi-arrow-right-square-fill product-next-icon"></i>
                    </div>
                </div>

            </div>

            <div class="row no-wrap product-carousel">
                <!-- Product Item -->
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Iphone 16 product list -->
    <div class="container" style="overflow: hidden;">
        <div class="product-list-area">
            <div class="left-title-area">
                <h3 class="left-title">iphone 16</h3>

                <div class="product-carousel-nav">
                    <div class="product-prev-btn">
                        <i class="bi bi-arrow-left-square-fill product-next-icon"></i>
                    </div>

                    <div class="product-next-btn">
                        <i class="bi bi-arrow-right-square-fill product-next-icon"></i>
                    </div>
                </div>
            </div>

            <div class="row no-wrap product-carousel">
                <!-- Product Item -->
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Iphone 16 plus -->
    <div class="container">
        <div class="product-list-area">
            <div class="left-title-area">
                <h3 class="left-title">iphone 16 plus</h3>
            </div>

            <div class="row">
                <!-- Product Item -->
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Iphone 16 pro max product list -->
    <div class="container">
        <div class="product-list-area">
            <div class="left-title-area">
                <h3 class="left-title">iphone 16 pro max</h3>
            </div>

            <div class="row">
                <!-- Product Item -->
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Ipad product list -->
    <div class="container">
        <div class="product-list-area">
            <div class="left-title-area">
                <h3 class="left-title">ipad</h3>
            </div>

            <div class="row">
                <!-- Product Item -->
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Watch product list -->
    <div class="container">
        <div class="product-list-area">
            <div class="left-title-area">
                <h3 class="left-title">Watch</h3>
            </div>

            <div class="row">
                <!-- Product Item -->
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Air pod product list -->
    <div class="container">
        <div class="product-list-area">
            <div class="left-title-area">
                <h3 class="left-title">airpods</h3>
            </div>

            <div class="row">
                <!-- Product Item -->
                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-2-4">
                    <div class="product-item">

                        <div class="product-label">New</div>

                        <div class="product-img">
                            <a href="" class="product-link">
                                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="rating-box">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <a href="" class="product-name">Apple macbook air</a>
                            <div class="product-price">
                                18.699.000<sup>đ</sup>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



