.add-product-form-area {
    background: #fff;
    border-radius: 3px;
    min-height: 800px;
}

.upload-img-item:not(:last-of-type) {
    margin-bottom: 20px;
}

.upload-img-title {
    font-size: 13.5px;
    display: block;
    margin-bottom: 4px;
}

.upload-img-item input {
    font-size: 13.5px;
    width: 100%;
}

.img-product-wrapper {
    text-align: center;
    margin: 6px 0;
}

.product-img-view {
    width: 100%;
    max-width: 120px;
    padding-bottom: 16px;
    padding-top: 6px;
}