
.control-admin .icon-control {
    margin-right: 4px;
}

.control-admin .btn:first-child {
    margin-right: 8px;
}

.control-admin .btn:only-child {
    margin-right: 0;
}

.control-admin {
    float: right;
}

.page-inner-custom .page-header {
    display: inline-flex;
}

.page-inner-custom {
    padding-bottom: 16px;
}

.wrapper-table {
    margin: 0 30px;
    background-color: #fff;
}

.wrapper-table table {
    text-align: center;
    /* table-layout: fixed; */
}

/* Pagination base */
.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.pagination-list {
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 28px;
    margin-bottom: 0;
}

.pagination-item {
    display: block;
}

.pagination-item.active .pagination-link {
    background: #373737;
    border-color: #373737;
    color: #fff;
}

.pagination-link {
    display: inline-block;
    border: 1px solid #DDDDDD;
    padding: 5px 12px;
    background: #fff;
    color: #333;
    text-decoration: none;
}

.pagination-link:visited {
    color: #333;
}

.pagination-link:hover {
    color: unset;
    background: #eee;
}

.pagination-icon {
   font-size: 14.5px;
}

/* Empty section*/
.empty-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 454px;
}

.empty-wrapper .image-wrapper {
    text-align: center;
}

.empty-img {
    width: 50%;
}

.empty-body p {
    font-size: 17px;
    font-weight: 500;
}




