
.control-admin .icon-control {
    margin-right: 4px;
}

.control-admin .btn:first-child {
    margin-right: 8px;
}

.control-admin .btn:only-child {
    margin-right: 0;
}

.control-admin {
    float: right;
}

.page-inner-custom .page-header {
    display: inline-flex;
}

.page-inner-custom {
    padding-bottom: 16px;
}

.wrapper-table {
    margin: 0 30px;
    background-color: #fff;
}

.wrapper-table table {
    text-align: center;
    /* table-layout: fixed; */
}

/* Pagination */
.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.pagination-list {
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 24px;
    margin-bottom: 0;
}

.pagination-item {
    display: block;
}

.pagination-item.active .pagination-link {
    background: #373737;
    border-color: #373737;
    color: #fff;
}

.pagination-link {
    display: inline-block;
    border: 1px solid #DDDDDD;
    padding: 4px 10px;
    background: #fff;
    color: #333;
    text-decoration: none;
}

.pagination-link:hover {
    color: unset;
    background: #ddd;
}

.pagination-icon {
    opacity: 0.7;
}



