.product-item {
    cursor: pointer;
}

.detail-product-inner {
    display: table;
    margin-left: 50px;
}

.detail-product-row {
    display: table-row;
    line-height: 1.6;
}

.detail-product-name,
.detail-product-value {
    display: table-cell;
    padding-right: 10px;
    text-align: left;
}

.detail-product-name {
    font-weight: 700;
}

.detail-product-value {
    color: #333;
    font-weight: 400;
}

.hidden-detail-product {
    display: none;
}

.hidden-icon-product {
    display: none;
}

.empty-img {
    width: 26% !important;
}