
/* Table list product cart */

.list-product-cart-area thead th {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 6px 0;
}



.list-product-cart-area thead tr {
    border-width: 1px;
}


.list-product-cart-area tbody {
    text-align: center;
}

.list-product-cart-area tbody tr {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.list-product-cart-area .id-product-text {
    font-size: 1.4rem;
}

.product-link-img-cart {
    display: inline-block;
    text-decoration: none;
    color: transparent;
    padding: 6px 0;
}

.product-link-img-cart img {
    width: 116px;
}

.list-product-cart-area .product-name-cart {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.list-product-cart-area .product-name-cart a {
    text-decoration: none;
    opacity: 0.8;
    text-transform: uppercase;
}

.list-product-cart-area .product-name-cart a:hover {
    opacity: 1;
}

.list-product-cart-area .product-price-cart {
    font-size: 1.55rem;
    color: red;
    font-weight: 500;
    margin-bottom: 0;
}

.total-price-cart .price {
    font-size: 1.55rem;
    color: red;
    font-weight: 500;
}

.list-product-cart-area .product-quantity-cart input {
    font-size: 1.45rem;
    width: 54px;
    padding-left: 12px 16px;
}

.cart-delete-product a {
    text-decoration: none;
    color: #000;
    padding: 8px;
    display: inline-block;
}

.cart-delete-product a:hover {
    opacity: 0.7;
}

.cart-delete-product a i {
    font-size: 1.75rem;
}


/* Return shop are */
.return-continute-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
}

.return-home-btn a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.return-home-btn a:hover {
    opacity: 0.75;
}

.return-home-btn a i {
    margin-right: 4px;
}

.remove-all-product-btn,
.order-product-btn {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 8px 18px;
}

.remove-all-product-btn {
    margin-right: 18px;
}


/* Infor order area */
.title-text-order {
    font-size: 2rem;
    text-transform:capitalize;
    margin-bottom: 16px;
}

.infor-order-area {
    background: #fafafa;
    padding: 16px 18px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.order-item span:first-child  {
    font-size: 1.65rem;
    color: #333;    
}

.order-item span:last-child {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

.order-item.order-item-price span:last-child {
    color: red;
    font-size: 1.7rem;
    font-weight: 500;
}

.total-price-order {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
}   

.total-price-item {
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

/* Payment option area */
.payment-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 28px;
    /* margin-bottom: 62px; */
}

.payment-area h3 {
    margin-right: 80px;
    font-size: 1.6rem;
}

.option-payment-block {
    margin: 14px 0;
    display: flex;
}

.payment-item {
    margin-left: 22px;
    display: flex;
    align-items: center;
}

.payment-item label {
    font-size: 1.42rem;
    color: #333;
    padding-left: 4px;
    font-weight: 500;
}

.payment-confirm-btn {
    padding: 8px 18px;
    font-size: 1.65rem;
    font-weight: 500;
    margin-top: 16px;
}

.payment-confirm-btn i {
    font-size: 1.65rem;
    margin-left: 3px;
    position: relative;
    top: -1px;
}

.payment-block {
    display: none;
}

.empty-cart-wrapper {
    text-align: center;
    margin-bottom: 24px;
}

.empty-cart-wrapper img {
    width: 32%;
}

.empty-desc p {
    font-size: 20px;
    font-weight: 500;
}


