:root {
    --primary-color: #3a3d42;
    --secondary-color: #484d54;
    --bg-btn-color: #000000;
    --text-blue: #5e87f5;
    --text-black: #000;
    --text-heading-title: #333;
    --text-white: #fff;
    --bg-header: #ebebeb;
    --hv-color: #5e87f5;
    --bd-color: #d6d6d6;
    --bd-color-title: #afb0b3;
    --hv-opacity: 0.75;
    --bg-hover-color: #494E55;
    --icon-rating-color: #f7c705;
    --bg-footer-feature: #ebebeb;
    --primary-footer-color: #2e3036;
    --secondary-footer-color: #32353b;
    --bs-font-sans-serif: "Roboto", sans-serif;
}


html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif !important;
    scroll-behavior: smooth;
}

body {
    
}

/* Custom layout boostrap */
.container {
    max-width: 1230px;
}

.row.no-wrap {
    flex-wrap: nowrap !important;
    padding-top: 3px;
}


/* Color text */
.text-red {
    color: var(--text-red);
}

/* Separate element */
.separate::after {
    content: "";
    display: block;
    height: 18px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    position: absolute;
}

/* Title area */
.left-title-area {
    height: 44px;
    border-top: 1px solid var(--bd-color-title);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 8px;
}

.left-title {
    font-size: 1.7rem;
    color: var(--text-heading-title);
    text-transform: uppercase;
    font-weight: 500;
    flex-basis: 100%;
    margin-top: 4px;
}

.left-title::after {
    content: "";
    display: block;
    width: 82px;
    position: absolute;
    border-top: 3px solid #000;
    top: 1.6px;
}

/* Center title  */

.center-title-area {
    height: 44px;
    border-top: 1px solid var(--bd-color-title);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 8px;
}

.center-title {
    font-size: 1.7rem;
    color: var(--text-heading-title);
    text-transform: uppercase;
    font-weight: 400;
    flex-basis: 100%;
    text-align: center;
}

.center-title::after {
    content: "";
    display: block;
    width: 82px;
    position: absolute;
    border-top: 3px solid #000;
    top: 1.6px;
    left: 50%;
    transform: translateX(-50%);
}

/* Layout col */
.col-2-4 {
    flex: 0 0 auto;
    width: 20%;
}

/* Breadcrumb area */
.breadcrumb-area {
    margin: 20px 0;
}

.breadcrumb-item {
    font-size: 1.45em;
}

.breadcrumb-item a:first-child {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.breadcrumb-item a:first-child:hover {
    color: var(--hv-color);
}


/* Nav control carousel product */
.product-carousel-nav {
    display: none;
    align-items: center;
    width: 63px;
    background: #fff;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: -7px;
}

.product-next-btn,
.product-prev-btn  {
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}

.product-next-btn:hover,
.product-prev-btn:hover {
    opacity: 0.8;
}

.product-next-btn:active,
.product-prev-btn:active {
    opacity: 1;
}

.product-next-icon {
    color: #000;
    font-size: 2.8rem;
}

.product-carousel {
    transition: transform 0.42s ease;
}

/* btn swal custom*/
.btn-swal-custom {
    border-radius: 3px;
}

.btn-swal-custom.swal-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-swal-custom--success {
    background: #32cf37;
    color: #fff;
    border-color: #32cf37;
}

.btn-swal-custom--info {
    background: #48abf7;
    color: #fff;
    border-color: #48abf7;
}

.btn-swal-custom--warning {
    background: #ffab45;
    color: #000;
    border-color: #ffab45;
}

.btn-swal-custom--error {
    background: #f25a61;
    color: #fff;
    border-color: #f25a61;
}

.btn-swal-custom:hover {
    opacity: 0.8;
}

.swal-footer {
    text-align: center;
}

