
<div class="brand-client-area ">
  <div class="container">
      <div class="row">
        <div class="brand-client-row">
          <div class="center-title-area">
            <h3 class="center-title">Thương hiệu & nhãn hàng</h3>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="brand-list-area">
                <div class="owl-carousel owl-theme brand-carousel">
                  <div class="brand-item">
                    <a href="" class="brand-link">
                      <img src="~/images/brands/Ezviz.jpg" alt="" class="brand-img">
                    </a>
                  </div>

                  <div class="brand-item">
                    <a href="" class="brand-link">
                      <img src="~/images/brands/Imou.png" alt="" class="brand-img">
                    </a>
                  </div>

                  <div class="brand-item">
                    <a href="" class="brand-link">
                      <img src="~/images/brands/hikvision1.jpg" alt="" class="brand-img">
                    </a>
                  </div>
                  
                  <div class="brand-item">
                    <a href="" class="brand-link">
                      <img src="~/images/brands/Sony.png" alt="" class="brand-img">
                    </a>
                  </div>

                  <div class="brand-item">
                    <a href="" class="brand-link">
                      <img src="~/images/brands/Panasonic.png " alt="" class="brand-img">
                    </a>
                  </div>

                  <div class="brand-item">
                    <a href="" class="brand-link">
                    <img src="~/images/brands/Dahua-logo.jpg" alt="" class="brand-img">
                    </a>
                  </div>
                  
               </div>

              </div>

            </div>

          </div>

          <div class="nav-carouse-controls"></div>

        </div>

      </div>
  </div>
</div>