      
<div class="features-area ">
    <div class="container">
      <div class="row gx-5">
        <!-- Feature item -->
        <div class="col-3">
          <div class="feature-item">
            <div class="feature-wrap">
                <div class="feature-icon">
                  <i class="bi bi-rocket-takeoff-fill"></i>
                </div>

                <div class="feature-content">
                  <h3 class="feature-label">Miễn phí giao hàng</h3>
                  <span>Trong bán kính 5 KM</span>
                </div>

            </div>
            
          </div>

        </div>

        <div class="col-3">
          <div class="feature-item">
            <div class="feature-wrap">
                <div class="feature-icon">
                  <i class="bi bi-umbrella-fill"></i>
                </div>

                <div class="feature-content">
                  <h3 class="feature-label">Hỗ trợ 24/7</h3>
                  <span>Luôn luôn hổ trợ bạn</span>
                </div>

            </div>
            
          </div>

        </div>

        <div class="col-3">
          <div class="feature-item">
            <div class="feature-wrap">
                <div class="feature-icon">
                  <i class="bi bi-calendar-fill"></i>
                </div>

                <div class="feature-content">
                  <h3 class="feature-label">Bán trong dịp lễ</h3>
                  <span>Sẵn sàng chào đón bạn</span>
                </div>

            </div>
            
          </div>

        </div>

        <div class="col-3">
          <div class="feature-item">
            <div class="feature-wrap">
                <div class="feature-icon">
                  <i class="bi bi-arrow-repeat"></i>
                </div>

                <div class="feature-content">
                  <h3 class="feature-label">Đổi trả trong 30 ngày</h3>
                  <span>Nếu lỗi sản phẩm</span>
                </div>

            </div>
            
          </div>

        </div>

      </div>
    </div>
</div>