<div class="footer-area ">
    <div class="container" style="height: inherit;">
        <div class="row" style="height: 100%;">
            <!-- Footer left area -->
            <div class="col-3 g-0">
                <div class="footer-area-left">
                    <div class="about-us-area">
                        <a href="" class="about-link">
                            <img src="~/images/logo_app/LogoAppleWhite.png" alt="" class="footer-logo-store">
                        </a>

                        <div class="about-us-content">
                            <p>
                                Công ty cổ phần Apple nỗ lực làm Quý Khách hàng hài lòng trên cơ sở hiểu biết sâu sắc và đáp ứng một cách tốt nhất nhu cầu của Quý Khách hàng với lòng tận tụy và năng lực không ngừng được nâng cao.
                            </p>
                        </div>
                    </div>

                    <!-- Follow us area -->
                    <div class="follow-us-area">
                        <h3 class="follow-label">follow us</h3>
                        <div class="follow-socials-area">
                            <div class="follow-social-item">
                                <a href="" class="follow-social-link">
                                    <i class="bi follow-social-icon bi-facebook"></i>
                                </a>
                            </div>

                            <div class="follow-social-item">
                                <a href="" class="follow-social-link">
                                    <i class="bi follow-social-icon bi-pinterest"></i>
                                </a>
                            </div>

                            <div class="follow-social-item">
                                <a href="" class="follow-social-link">
                                    <i class="bi follow-social-icon bi-youtube"></i>
                                </a>
                            </div>

                            <div class="follow-social-item">
                                <a href="" class="follow-social-link">
                                    <i class="bi follow-social-icon bi-tiktok"></i>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Footer right area -->
            <div class="col-9 g-0">
                <div class="footer-area-right">
                    <div class="row">
                        <!--About Category store -->
                        <div class="col-4">
                            <div class="category-area">
                                <h3 class="footer-title">Danh mục</h3>

                                <ul class="footer-right-list">
                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Macbook</a>
                                    </li>
                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Iphone 16</a>
                                    </li>
                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">iphone 16 pro</a>
                                    </li>
                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">iphone 16 plus</a>
                                    </li>
                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">iphone 16 pro max</a>
                                    </li>

                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Ipad</a>
                                    </li>

                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Watch</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <!-- About us area -->
                        <div class="col-4">
                            <div class="about-policy-us-area">
                                <h3 class="footer-title">Về chúng tôi</h3>

                                <ul class="footer-right-list">
                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Chính sách thanh toán</a>
                                    </li>

                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Điều khoản sử dụng website</a>
                                    </li>

                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Chính sách bảo mật</a>
                                    </li>

                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Giới thiệu</a>
                                    </li>

                                </ul>

                            </div>
                        </div>

                        <!-- Suport contact area-->
                        <div class="col-4">
                            <div class="contact-suport-area">
                                <h3 class="footer-title">Hỗ trợ khách hàng</h3>

                                <ul class="footer-right-list">
                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Tổng đài hỗ trợ kỹ thuật: 0345603733</a>
                                    </li>

                                    <li class="footer-right-item">
                                        <a href="" style="text-transform: unset;" class="footer-right-link">Email: duongminhtri711@gmail.com</a>
                                    </li>

                                    <li class="footer-right-item">
                                        <a href="" class="footer-right-link">Phường 6, Cao Lãnh, Đồng Tháp, Việt Nam</a>
                                    </li>

                                </ul>


                            </div>

                            <!-- Map gogle area -->
                            <div class="footer-right-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29102.16425082591!2d105.62254213567633!3d10.43051599065494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a64dd894a611d%3A0x5a29dca0586f48a4!2zcGjGsOG7nW5nIDYsIFRwLiBDYW8gTMOjbmgsIMSQ4buTbmcgVGjDoXAsIFZp4buHdCBOYW0!5e1!3m2!1svi!2s!4v1732222908676!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>

                            <div class="payment-methods">
                                <img src="~/images/payment_img/payment.png" alt="" class="payment-img">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

