<div class="main-content main-content-full-col">
  <!-- Macbook Product List -->
  <div class="container" style="overflow: hidden;">
    <div class="product-list-area">
      <div class="left-title-area">
        <h3 class="left-title">Macbook</h3>

        <div class="product-carousel-nav">
          <div class="product-prev-btn">
            <i class="bi bi-arrow-left-square-fill product-next-icon"></i>
          </div>

          <div class="product-next-btn">
            <i class="bi bi-arrow-right-square-fill product-next-icon"></i>
          </div>
        </div>

      </div>

      <div class="row no-wrap product-carousel">
        <!-- Product Item -->
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/product_new/laptop-apple-macbook-air-13-inch-m3.jpg" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!--Iphone 16 product list -->
  <div class="container" style="overflow: hidden;">
    <div class="product-list-area">
      <div class="left-title-area">
        <h3 class="left-title">iphone 16</h3>

        <div class="product-carousel-nav">
          <div class="product-prev-btn">
            <i class="bi bi-arrow-left-square-fill product-next-icon"></i>
          </div>

          <div class="product-next-btn">
            <i class="bi bi-arrow-right-square-fill product-next-icon"></i>
          </div>
        </div>
      </div>

      <div class="row no-wrap product-carousel">
        <!-- Product Item -->
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-128gb-black.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Iphone 16 plus -->
  <div class="container">
    <div class="product-list-area">
      <div class="left-title-area">
        <h3 class="left-title">iphone 16 plus</h3>
      </div>

      <div class="row">
        <!-- Product Item -->
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-plus-512gb-white.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Iphone 16 pro max product list -->
  <div class="container">
    <div class="product-list-area">
      <div class="left-title-area">
        <h3 class="left-title">iphone 16 pro max</h3>
      </div>

      <div class="row">
        <!-- Product Item -->
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/iphone16/iphone-16-pro-max-512gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- Ipad product list -->
  <div class="container">
    <div class="product-list-area">
      <div class="left-title-area">
        <h3 class="left-title">ipad</h3>
      </div>

      <div class="row">
        <!-- Product Item -->
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/Ipad/ipad-10-wifi-256gb.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Watch product list -->
  <div class="container">
    <div class="product-list-area">
      <div class="left-title-area">
        <h3 class="left-title">Watch</h3>
      </div>

      <div class="row">
        <!-- Product Item -->
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/watch/apple-watch-se-2023-gps.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- Air pod product list -->
  <div class="container">
    <div class="product-list-area">
      <div class="left-title-area">
        <h3 class="left-title">airpods</h3>
      </div>

      <div class="row">
        <!-- Product Item -->
        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>

        <div class="col-2-4">
          <div class="product-item">

            <div class="product-label">New</div>

            <div class="product-img">
              <a href="" class="product-link">
                <img src="~/images/product_img/airpods/airpods-pro-(2nd-gen)-usb-c.png" alt="">
              </a>
            </div>

            <div class="product-info">
              <div class="rating-box">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <a href="" class="product-name">Apple macbook air</a>
              <div class="product-price">
                18.699.000<sup>đ</sup>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>