<div class="" id="slider">
    <div class="container">
        <div class="slider-wrapper">
            <div id="main-slider" class="nivoSlider">
                <img src="~/images/slides/banner-3.jpg" alt="">
                <img src="~/images/slides/banner-4.jpg" alt="">
                <img src="~/images/slides/banner-2.jpg" alt="">
                <img src="~/images/slides/banner-1.jpg" alt="">
                <img src="~/images/slides/banner-5.jpg" alt="">
                <img src="~/images/slides/banner-6.jpg" alt="">
            </div>

        </div>
    </div>
</div>

